html {
    background-color: #1B2430;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;

}

.content-area {
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

.main-area {
    width: 66%;
    float: left;
}

.sidebar {
    width: 34%;
    float: right;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1B2430;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
    display: block;
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
}

.site-nav a:hover {
    background-color: #e5e9dc;
}


.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;

}

.sidebar {
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}

footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fix {
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}